body {
  overflow-x: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: #1a407a;
  }

  &::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgb(172, 172, 172);
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
html {
  scroll-behavior: smooth;
}
* {
  line-height: 2em !important;
}
.route {
  a {
    color: #606a79;
    &:hover {
      text-decoration: none;
    }
  }
}
