@font-face {
  font-family: irancell;
  src: url("~assets/fonts/irancell/Irancell.ttf");
}

@font-face {
  font-family: irancell;
  font-weight: bold;
  src: url("~assets/fonts/irancell/MTNIrancell-Bold.ttf");
}

@font-face {
  font-family: irancell;
  font-style: normal;
  font-weight: lighter;
  src: url("~assets/fonts/irancell/MTNIrancell-Light.ttf");
}

@font-face {
  font-family: popins;
  font-weight: normal;
  src: url("~assets/fonts/popins/PoppinsLatin-Medium.ttf");
}

@font-face {
  font-family: popins;
  font-weight: bold;
  src: url("~assets/fonts/popins/PoppinsLatin-Bold.ttf");
}

@font-face {
  font-family: popins;
  font-weight: lighter;
  src: url("~assets/fonts/popins/PoppinsLatin-Light.ttf");
}
