.aboutUs {
  .topDiv {
    height: 100vh;
    min-height: 650px;
    background: url("/images/aboutUs.jpg") no-repeat;
    background-size: cover;
    width: 100%;
    .effect {
      padding: 68px 148px 100px 70px;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: linear-gradient(
        179.87deg,
        rgba(1, 4, 11, 0) -2.01%,
        #01040b 88%,
        #000000 100%
      );
      .enLogo {
        width: 100%;
        text-align: left;
        margin-bottom: 50px;
      }
      .title {
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        color: #b9b7bd;
        margin-bottom: 10px;
        span {
          height: 5px;
          width: 43px;
          display: inline-block;
          background-color: white;
          margin-right: 11px;
          border-radius: 5px;
        }
      }
      h2 {
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        color: #ffffff;
        margin-bottom: 50px;
      }
      .story,
      .responsibility,
      .ourTeamTitle {
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        color: #ffffff;
        padding: 30px 0px;
        margin-left: 90px;
        span {
          margin-left: 50px;
        }
      }
      .responsibility {
        border-top: 2px solid #ffffff;
        border-bottom: 2px solid #ffffff;
      }
    }
  }
  .ourStory {
    background: #01040b;
    padding: 132px 12px 200px 151px;
    .title {
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      color: #b9b7bd;
      margin-bottom: 8px;
      padding-right: 136px;
      span {
        height: 5px;
        width: 43px;
        margin-right: 10px;
        background-color: white;
        display: inline-block;
        border-radius: 5px;
      }
    }
    .about {
      max-width: 600px;
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      line-height: 44px;
      text-align: justify;
      color: #ffffff;
      margin-bottom: 58px;
      padding-right: 136px;
    }
    p {
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 40px;
      text-align: justify;
      color: rgba(255, 255, 255, 0.8);
      max-width: 1013px;
      margin-right: 100px;
    }
    .link {
      text-align: left;
      width: 100%;
      a {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #ffffff;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  .ourResponsibility {
    padding: 200px 148px 234px 151px;
    .titles {
      margin-left: 100px;
      min-width: 145px;
      h4 {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        color: #b9b7bd;
        margin-bottom: 8px;
        span {
          margin-right: 10px;
          background-color: #1a407a;
          height: 5px;
          width: 43px;
          display: inline-block;
          border-radius: 5px;
        }
      }
      h3 {
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        color: #01040b;
      }
    }
    p {
      max-width: 914px;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 40px;
      text-align: justify;
      color: #606a79;
    }
  }
  .units {
    background-color: black;
    padding: 166px 148px 198px 170px;
    & > div {
      gap: 50px;
    }
    .title {
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      color: #b9b7bd;
      margin-bottom: 8px;
      span {
        width: 43px;
        height: 5px;
        margin-right: 31px;
        background-color: white;
        display: inline-block;
        border-radius: 5px;
      }
    }
    h3 {
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      color: #ffffff;
      margin-bottom: 130px;
    }
    .image {
      .lineAndCircles {
        width: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 699px;
        margin: 0px 13px;
        .line {
          width: 3px;
          height: 699px;
          background-color: white;
          display: inline-block;
          position: absolute;
        }
        .circle {
          width: 25px;
          height: 25px;
          background: white;
          border-radius: 25px;
          cursor: pointer;
          z-index: 2;
        }
        .activeCircle {
          outline: 2px dashed #ffffff;
          outline-offset: 5px;
          background: #1c427b;
        }
      }
      .item {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        color: rgba(255, 255, 255, 0.4);
      }
      .activeItem {
        color: #ffffff;
      }
      .item1 {
        position: relative;
        top: 45px;
      }
      .item2 {
        position: relative;
        top: 160px;
        text-align: left;
      }
      .item3 {
        position: relative;
        top: 245px;
      }
      .item4 {
        position: relative;
        top: 365px;
        text-align: left;
      }
      .item5 {
        position: relative;
        top: 450px;
      }
      .item6 {
        position: relative;
        top: 565px;
        text-align: left;
      }
    }
    .texts {
      height: 418px;
      overflow-y: scroll;
      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
      .unit {
        height: 418px;
        .num {
          font-style: normal;
          font-weight: 600;
          font-size: 46px;
          color: #d9d9d9;
          opacity: 0.4;
          margin-bottom: 10px;
        }
        .title {
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          color: #ffffff;
          margin-bottom: 16px;
        }
        span {
          width: 40px;
          height: 3px;
          background-color: #fff;
          border-radius: 100%;
          margin-bottom: 50px;
        }
        .unitImg {
          width: 97px;
          height: 97px;
          background-color: #fff;
          border-radius: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          padding-right: 5px;
        }
        p {
          max-width: 485px;
          font-style: normal;
          font-weight: 300;
          font-size: 16px;
          line-height: 25px;
          text-align: justify;
          letter-spacing: -0.02em;
          color: #dddddd;
          margin-bottom: 50px;
        }
        a {
          font-style: normal;
          font-weight: 300;
          font-size: 16px;
          letter-spacing: -0.02em;
          color: #ffffff;
          img {
            margin-right: 10px;
          }
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
  .certificates {
    padding: 200px 85px 189px 88px;
    .title {
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      color: #b9b7bd;
      margin-bottom: 8px;
      padding-right: 63px;
      span {
        background-color: #1a407a;
        display: inline-block;
        width: 43px;
        height: 5px;
        border-radius: 5px;
        margin-right: 14px;
      }
    }
    h3 {
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      color: #01040b;
      margin-bottom: 99px;
      padding-right: 63px;
    }
    .slider {
      img {
        width: 90%;
      }
      .splide__track {
        margin-right: 100px;
        margin-left: 90px;
      }
      .splide__arrows {
        button {
          background-color: inherit;
        }
      }
      .splide__pagination {
        display: flex;
        position: relative;
        top: 70px;
        direction: ltr;
        li {
          button {
            width: 8px;
            height: 8px;
            background: rgba(26, 64, 122, 0.4);
          }
          .is-active {
            background: #1a407a;
          }
        }
      }
    }
  }
  .ourTeam {
    padding: 321px 148px 200px 150px;
    background-color: black;
    position: relative;
    * {
      z-index: 2;
    }
    .teamBaner,
    .reverseTeamBaner {
      position: absolute;
      z-index: 1;
    }
    .teamBaner {
      top: -100px;
      right: -130px;
    }
    .reverseTeamBaner {
      bottom: -100px;
      left: -130px;
    }
    .aboutTeam {
      .titles {
        margin-left: 100px;
        min-width: 144px;
        div {
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          color: #b9b7bd;
          margin-bottom: 24px;
          span {
            width: 43px;
            height: 5px;
            border-radius: 5px;
            display: inline-block;
            background-color: white;
            margin-right: 9px;
          }
        }
        h3 {
          font-style: normal;
          font-weight: 400;
          font-size: 25px;
          color: #ffffff;
        }
      }
      p {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 40px;
        color: rgba(255, 255, 255, 0.8);
        max-width: 693px;
        margin-left: 100px;
      }
      a {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #ffffff;
        min-width: 121px;
        img {
          width: 40px;
          margin-right: 8px;
        }
        &:hover {
          text-decoration: none;
        }
      }
    }
    .images {
      margin-top: 191px;
      .firstImg,
      .secImg {
        width: 40%;
        img {
          width: 100%;
        }
        .name {
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          color: #ffffff;
          width: 100%;
          text-align: center;
          margin-top: 33px;
          margin-bottom: 8px;
        }
        .position {
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          width: 100%;
          text-align: center;
          color: rgba(255, 255, 255, 0.8);
        }
      }
      .firstImg {
        margin-left: 50px;
      }
    }
  }
}
@media only screen and (max-width: 1322px) {
  .aboutUs {
    .ourStory {
      & > div {
        flex-direction: column;
      }
    }
    .units {
      .image {
        .item6 {
          top: 536px;
        }
      }
    }
    .ourTeam {
      .aboutTeam {
        flex-direction: column;
        & > div {
          flex-direction: column;
        }
        p {
          margin-top: 30px;
        }
      }
    }
  }
}
@media only screen and (max-width: 1057px) {
  .aboutUs {
    .topDiv {
      .effect {
        padding: 70px;
      }
    }
    .ourStory {
      padding-left: 70px;
      .title,
      .about {
        padding-right: 70px;
      }
      p {
        margin: 70px;
      }
    }
    .ourResponsibility,
    .units {
      padding: 100px 70px;
    }
    .units {
      .texts {
        .unit {
          margin-bottom: 50px;
        }
      }
    }
    .certificates {
      padding: 100px 70px;
      padding-bottom: 200px;
    }
    .ourTeam {
      padding: 100px 70px;
      .teamBaner {
        width: 400px;
        right: -50px;
      }
      .reverseTeamBaner {
        width: 400px;
        bottom: -10px;
      }
      .images {
        .firstImg,
        .secImg {
          width: 50%;
        }
      }
    }
  }
}
@media only screen and (max-width: 719px) {
  .aboutUs {
    .topDiv {
      .effect {
        padding: 20px;
        .enLogo {
          img {
            height: 40px;
          }
        }
        .title {
          font-size: 15px;
          span {
            width: 20px;
            height: 2.5px;
          }
        }
        h2 {
          font-size: 20px;
          margin-bottom: 0px;
        }
        .story,
        .responsibility,
        .ourTeamTitle {
          margin-left: 0px;
          font-size: 15px;
          padding-bottom: 20px;
          span {
            margin-left: 20px;
          }
        }
        .responsibility {
          border-top: 1px solid #ffffff;
          border-bottom: 1px solid #ffffff;
        }
      }
    }
    .ourStory {
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 50px;
      .title {
        padding-right: 0px;
        font-size: 12px;
        span {
          width: 20px;
          height: 2.5px;
        }
      }
      img {
        width: 100%;
        max-width: 398px;
      }
      .about {
        padding-right: 0px;
        font-size: 12px;
      }
      p {
        margin: 0px;
        font-size: 12px;
      }
      .link {
        a {
          font-size: 12px;
        }
      }
    }
    .ourResponsibility {
      padding: 50px 20px;
      flex-direction: column;
      gap: 50px;
      .titles {
        margin-left: 0px;
        h4 {
          font-size: 15px;
          span {
            width: 20px;
            height: 2.5px;
          }
        }
        h3 {
          font-size: 18px;
        }
      }
      p {
        font-size: 13px;
      }
    }
    .units {
      padding: 50px 20px;
      .title {
        font-size: 12px;
        span {
          width: 20px;
          height: 2.5px;
        }
      }
      h3 {
        font-size: 15px;
        margin-bottom: 50px;
      }
      & > div {
        flex-direction: column;
      }
      .image {
        .lineAndCircles {
          height: 400px;
          margin: 0px 7px;
          .line {
            width: 1.5px;
            height: 400px;
          }
          .circle {
            width: 15px;
            height: 15px;
          }
          .activeCircle {
            outline: 2px dashed #ffffff;
          }
        }
        .item {
          font-size: 12px;
        }
        .item1 {
          top: 28px;
        }
        .item2 {
          top: 91px;
        }
        .item3 {
          top: 141px;
        }
        .item4 {
          top: 208px;
        }
        .item5 {
          top: 258px;
        }
        .item6 {
          top: 324px;
        }
      }
      .texts {
        width: 100%;
        height: 240px;
        .unit {
          height: 240px;
          .num {
            font-size: 30px;
          }
          .title {
            font-size: 12px;
          }
          .unitImg {
            width: 50px;
            height: 50px;
            padding-right: 3px;
            img {
              width: 25px;
            }
          }
          p {
            font-size: 10px;
            max-width: 100%;
          }
          a {
            font-size: 10px;
          }
        }
      }
    }
    .certificates {
      padding: 50px 20px;
      padding-bottom: 200px;
      .title {
        font-size: 12px;
        padding-right: 0px;
        span {
          width: 20px;
          height: 2.5px;
        }
      }
      h3 {
        padding-right: 0px;
        font-size: 15px;
        margin-bottom: 50px;
      }
      .slider {
        .splide__track {
          margin-right: 60px;
          margin-left: 50px;
        }
        img {
          width: 95%;
        }
      }
    }
    .ourTeam {
      padding: 50px 20px;
      .teamBaner {
        width: 250px;
        top: -45px;
        right: -40px;
      }
      .reverseTeamBaner {
        width: 250px;
        left: -73px;
      }
      .aboutTeam {
        .titles {
          div {
            font-size: 12px;
            span {
              width: 20px;
              height: 2.5px;
            }
          }
          h3 {
            font-size: 15px;
          }
        }
        p {
          font-size: 12px;
          max-width: 100%;
          line-height: 30px;
          margin-left: 0px;
        }
        a {
          font-size: 12px;
          min-width: 82px;
          img {
            width: 20px;
          }
        }
      }
      .images {
        margin-top: 50px;
        gap: 20px;
        .firstImg,
        .secImg {
          margin-left: 0px;
          .name {
            font-size: 12px;
          }
          .position {
            font-size: 10px;
          }
        }
      }
    }
  }
}
