.galleryImages {
  .faGalleryImages {
    .topDiv {
      background: url("/images/galleryBack.jpg") no-repeat;
      background-size: cover;
      padding: 70px 148px 225px 70px;
      .enLogo {
        text-align: left;
        margin-bottom: 82px;
        img {
          width: 130px;
        }
      }
      .title {
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        color: #ffffff;
      }
    }
    .route {
      width: 100%;
      padding: 7px 148px;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      color: #1a407a;
      background: #e6e9ed;
      span {
        color: #606a79;
      }
    }
    .images {
      padding: 200px 148px 200px 157px;
      gap: 80px;
      .image {
        margin-bottom: 20px;
        width: 433px;
        img {
          width: 100%;
        }
      }
    }
  }
  .enGalleryImages {
    .topDiv {
      background: url("/images/galleryBack.jpg") no-repeat;
      background-size: cover;
      padding: 70px 148px 225px 70px;
      .enLogo {
        text-align: left;
        margin-bottom: 82px;
        img {
          width: 130px;
        }
      }
      .title {
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        color: #ffffff;
      }
    }
    .route {
      width: 100%;
      padding: 7px 148px;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      color: #1a407a;
      background: #e6e9ed;
      span {
        color: #606a79;
      }
    }
    .images {
      padding: 200px 148px 200px 157px;
      gap: 80px;
      .image {
        margin-bottom: 20px;
        width: 433px;
        img {
          width: 100%;
        }
      }
    }
  }
}
@media only screen and (max-width: 1540px) {
  .galleryImages {
    .faGalleryImages {
      .images {
        padding: 70px;
      }
    }
    .enGalleryImages {
      .images {
        padding: 70px;
      }
    }
  }
}
@media only screen and (max-width: 1057px) {
  .galleryImages {
    .faGalleryImages {
      .topDiv {
        padding-right: 70px;
      }
      .route {
        padding: 7px 70px;
        margin-bottom: 100px;
      }
    }
    .enGalleryImages {
      .topDiv {
        padding-right: 70px;
      }
      .route {
        padding: 7px 70px;
        margin-bottom: 100px;
      }
    }
  }
}
@media only screen and (max-width: 719px) {
  .galleryImages {
    .faGalleryImages {
      .topDiv {
        padding: 50px;
        padding-top: 100px;
        .title {
          font-size: 23px;
        }
        .enLogo {
          img {
            display: none;
          }
        }
      }
      .route {
        padding: 7px 50px;
        font-size: 12px;
        margin-bottom: 50px;
      }
      .images {
        padding: 50px;
        gap: 20px;
        .image {
          width: 250px;
        }
      }
    }
    .enGalleryImages {
      .topDiv {
        padding: 50px;
        padding-top: 100px;
        .title {
          font-size: 23px;
        }
        .enLogo {
          img {
            display: none;
          }
        }
      }
      .route {
        padding: 7px 50px;
        font-size: 12px;
        margin-bottom: 50px;
      }
      .images {
        padding: 50px;
        gap: 20px;
        .image {
          width: 250px;
        }
      }
    }
  }
}
