.gallery {
  .topDiv {
    background: url("/images/galleryBack.jpg") no-repeat;
    background-size: cover;
    padding: 70px 148px 225px 70px;
    .enLogo {
      text-align: left;
      margin-bottom: 82px;
      img {
        width: 130px;
      }
    }
    .title {
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      color: #ffffff;
    }
  }
  .route {
    width: 100%;
    padding: 7px 148px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #1a407a;
    background: #e6e9ed;
  }
  .images {
    padding: 200px 148px 200px 157px;
    gap: 70px;
    .image {
      margin-bottom: 30px;
      width: 433px;
      &:hover {
        text-decoration: none;
      }
      img {
        width: 100%;
      }
      .text {
        width: 100%;
        padding: 34px;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        color: #ffffff;
        text-align: center;
        background: #1a407a;
      }
    }
  }
}
@media only screen and (max-width: 1540px) {
  .gallery {
    .images {
      padding: 70px;
    }
  }
}
@media only screen and (max-width: 1057px) {
  .gallery {
    .topDiv {
      padding-right: 70px;
    }
    .route {
      padding-right: 70px;
      margin-bottom: 100px;
    }
  }
}
@media only screen and (max-width: 719px) {
  .gallery {
    .topDiv {
      padding: 20px;
      padding-bottom: 150px;
      .title {
        font-size: 23px;
      }
      .enLogo {
        img {
          height: 40px;
        }
      }
    }
    .route {
      padding-right: 20px;
      font-size: 12px;
      margin-bottom: 50px;
    }
    .images {
      padding: 20px;
      gap: 20px;
      .image {
        width: 250px;
        .text {
          padding: 15px;
          font-size: 12px;
        }
      }
    }
  }
}
