.loading {
  width: 100vw;
  height: 100vh;
  background: #1a407a;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    transform: rotateY(0deg);
    animation: loadLogo 2s forwards;
  }
}
@keyframes loadLogo {
  0% {
    transform: rotateX(0deg);
    scale: 0.5;
  }
  100% {
    transform: rotateY(360deg);
    scale: 1.5;
  }
}
